body{
    margin: 0px;
    background-color: rgb(198, 228, 228);
}
.header1{
    display: flex;
    background-color: rgb(160, 179, 164);
    margin: 0px;
    align-items: flex-end;
    flex-direction: row-reverse;
    box-shadow: 10px 7px 5px rgb(139, 138, 138);
}
.top-nav{
    order: 1;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.b{
    order: 3;
    flex: 1;
    margin-right: 15px;
    margin-bottom: 15px;
}
.c{
    order: 2;
    flex: 3;
    margin-right: 25px;
    margin-bottom: 15px;
}
.d{
    order: 1;
    flex: 1;
    margin-right: 25px ;
    margin-bottom: 15px;
}
.top-nav a{
    color: rgb(44, 51, 54);
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    word-spacing: 10px;
    letter-spacing: 5px;
    align-items: center;
}
.top-nav a:hover{
    color: rgb(235, 239, 241);
    font-size: large;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(77, 125, 139);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-left: 0px;
    font-weight: lighter;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    word-spacing: 6px;
    color: #011318;
    font-weight: lighter;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #b4fff9;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 10px;
    margin-block-end: 0px;
  }
  .sidebar{
    order: 2;
    font-size:25px;
    cursor:pointer;
  }
  img{
    align-self: center;
    width: 100%;
  }
  .image1{
    margin-top: 10px;
  }
  .t1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: medium;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: center;
    font-size: 50px;
    margin-left: 50px;
}
.text1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: medium;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
  font-size: medium;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.text2{
    flex: 2;
    order: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: medium;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
  font-size: medium;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.text2 a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgba(170, 39, 39, 0.884);
    font-weight: bold;
}
.text2 a:hover{
    font-family: fantasy;
    font-size: 20px;
}
.content{
    display: flex;
    color: rgb(44, 51, 54);
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    word-spacing: 10px;
    letter-spacing: 5px;
    align-items: center;
    text-align: center;
    margin-block-start: 100px;
    margin-block-end: 100px;
    flex-direction: column;
    box-shadow: 0 5px 12px 0 rgba(20, 148, 233, 0.938), 0 10px 20px 0 rgba(161, 72, 233, 0.945);
}
.content1{
    display: flex;
    justify-content: center;
}
.text3{
    flex: 2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: medium;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
  font-size: medium;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.text3 a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgba(170, 39, 39, 0.884);
    font-weight: bold;
}
.text3 a:hover{
    font-family: fantasy;
    font-size: 20px;
}
.image4{
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
    margin-left: 100px;
    box-shadow: 0 5px 12px 0 rgba(58, 104, 6, 0.479), 0 10px 20px 0 rgba(58, 104, 6, 0.479);
    width: 100%;
}
.separate{
    background-color: rgb(14, 59, 73);
    font-size: 40px;
    margin-top: 100px;
  }
  .footer{
      display: flex;
    flex-direction: row;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: medium;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
  font-size: medium;
  justify-content: space-between;
  align-content: flex-end;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.footer a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgba(170, 39, 39, 0.884);
    font-weight: bold;
}
.footer a:hover{
    font-family: fantasy;
    font-size: 20px;
}
.inst{
    display: flex;
    width: 10%;
    align-items: center;
}
.li{
    display: flex;
    align-items: center;
}
.github{
    display: flex;
    align-items: center;
}
.separate1{
    background-color: rgb(41, 145, 110);
    font-size: 10px;
  }
  .db{
    text-align: center;
    font-size: medium;
    margin-top: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 50px;
  }
.db a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgba(170, 39, 39, 0.884);
    font-weight: bold;
}
.db a:hover{
    font-family: fantasy;
    font-size: 20px;
}
.home{
    text-align: center;
    font-size: large;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
}
.home a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgba(26, 102, 153, 0.884);
    font-weight: bold;
}
.home a:hover{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}